.tags-input{
    background: #ffcb39;
    margin-top:28px;
    margin-bottom:25px;
    margin-left:42px;
    border: none;
    width: 399px;
    min-height: 21px !important;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 8px;
    border-radius: 6px;
}

.tags-input input {
    flex: 1;
    border: none;
    height: 46px;
    font-size: 14px;
    padding: 4px 0 0 0;
}

#tags{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 8px 0 0 0;
}

.tag{
    width: auto;
    height: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffcb39;
    padding: 0 8px;
    list-style: none;
    border-radius: 24px;
    margin: 0 8px 8px 0;
    background: transparent;
    border: 2px solid #ffcb39;
}

.tag-close-icon{
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    margin-left: 8px;
    color: #ffcb39 !important;
    border-radius: 50%;
    background: transparent !important;
    cursor: pointer;
}

.tag-title{
    margin-top: 3px;
}

.tags-input input{
    height: 21px;
    background: #ffcb39 !important;
}

.upload-tags::placeholder{
    color: #000;
    font-size: 12px;
    font-weight: 700;
}