#horizontal-relative .scroll-horizontal > div {
    position: relative !important;
  }

#body{
    background-image: url('./background.svg');
}

#small-body{
    display:none;
}

.footer-info{
    padding-top: 180px;
    color: #ffcb39;
    margin-left: 166px;
    font-size: 14px;
    font-weight: 400;
}

.company-name{
    margin-bottom: 50px !important;
}

.company-location{
    margin-bottom: 30px !important;
}

.footer-info div{
    margin-bottom: 16.8px;
}

.info-links{
    color: #ffcb39;
    font-size: 14px;
    font-weight: 900;
    max-width: 700px;
    float: right; 
    margin-top: 100px;
}

.info-links span{
    margin-right: 156px;
}

.info-links span a{
    text-decoration: none;
    color: #ffcb39;
}

.main-info{
    padding-top: 200px;
    width: 80%;
    margin: auto;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    margin: auto;

}

.main-info h2{
    color: #fff;
    margin-bottom: 76px;
}

.main-info > .search-wrapper{
    width: 60% !important;
    margin: auto;
}

.main-info > .search-wrapper select{
    display: none;
}

.swal2-popup.swal2-modal.swal2-show{
    background-color: #fff !important;
    background-image: url('./background.svg') !important;
}

.swal2-confirm.swal2-styled{
    background-color: #ffcb39 !important;
}

@media screen and (max-width: 1024px){
    nav{
        background-color:#1C1C1C;
    }

    .ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal{
        display:none;
    }

    #body{
      display: none;
    }

    #small-body{
        display:block;
        width:100vw;
        height: 100vh;
        background-color: #1C1C1C;
    }
    .mobile{
        max-width: 80%;
    }
    .ant-btn.menu__mobile-button.ant-btn-primary{
        display:none !important;
    }
  }
  