@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import '~antd/dist/antd.css';

.ant-menu-item{
  border-bottom: 0 !important;
}

/* a{
  color: #ffcb39;
} */
.menu {
  color: #ffcb39;
  padding: 0 20px;
  /* border-bottom: solid 1px #e8e8e8; */
  overflow: auto;
  background-color: #1C1C1C;
  overflow: hidden;
  font-family: "Pretendard";
  font-weight: '16px';
  height: 10%;
}

.menu__logo {
  width: 150px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-decoration: none;
}

.menu__container .ant-menu-item {
  
  padding: 0px 5px;
  background-color: #1C1C1C;
}

.menu__container .ant-menu-submenu-title {
  
  padding: 10px 20px;
  background-color: #1C1C1C;
}

.menu__container .ant-menu-submenu-title span{
  color: #ffcb39;
  font-family: 'Pretendard';
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
  text-decoration: none;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #ffcb39;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}

.current{
  font-weight: bold;
}

button{
  background-color: #ffcb39;
  color: #1C1C1C;
  border-radius: 6px; 
  height:40px;
  line-height: 75.35px;
  vertical-align: middle;
}

button:hover{
  color:#ffcb39;
}

button a{
  color: #1C1C1C;
  text-decoration: none;
  vertical-align: middle;
  padding: 0
}

button a:hover{
  color: #1C1C1C;
  text-decoration: none;
}