@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

*{
  font-family: 'Pretendard';
  background-image: url(http://salehriaz.com/404Page/img/overlay_stars.svg);
}

#filters{
  background-color: #1C1C1C;
}

#scroll-horizontal .scroll-horizontal {
  height:80% !important;
}

#scroll-horizontal .scroll-horizontal > div {
  display: grid !important;
  grid-template-rows : auto auto;
  grid-auto-flow: column;
  background-color: #1C1C1C;
  height:80%;
}

.tile{
  margin: 0;
  width:300px;
  height: 250px;
}

.tile:hover{
  transition: 0.3s;
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);   
  -o-transform:scale(1.05);
  transform:scale(1.05)
}

#card-video {
  width: 254px;
  height: 142px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
  margin-left: 42px;
  backdrop-filter: blur(50px);
  margin-right: 42px;
  position: relative;
  padding-top: 142px;
}

#card-video video {
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(7px);
  top: 0;
  left: 0;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )
}

#card-avatar {
  width: 254px;
  height: 50px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-left: 0px;
  /* padding-right: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 42px;
  margin-right: 42px;
  background-color: transparent;
  color:#fff;
  font-weight:lighter;
}

.ant-card-meta-title{
  color: #fff !important;
}

#card-avatar .Avatar {
  width: 32px;
  height: 32px;
}

#card-price {
  height: 18px;
  font-size:12px;
  /* margin-right: 10px; */
  font-weight: 300;
  float: right;
  text-align: right;
  background: transparent;
  border-radius: 6px;
  color:#ffcb39 !important;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #ffcb39;
}

#hash{
  text-align: center;
  font-weight: bold;
  color: #000;
  font-size: 12px;
  width: 63px;
  height: 24px;
  background-color: #ffcb39;
  border-radius: 24px;
  margin-right: 20px;
  margin-bottom: 1em;
  line-height: 24px;
}

#dropdown{
  width: 84px;
  height: 28px;
  line-height: 25px;
  text-align: center;
  border: 3px solid #b3e220;
  color: #b3e220;
  font-size: 14px;
  border-radius: 32px;
  margin-top: 0px;
  margin-bottom:20px;
  margin-left:20px;
}

#drops{
  margin-right: 40px;
}
