#body{
    background-color: #1C1C1C;
    width: 100vw;
    height: 100vh;
}

h1{
    color: #fff;
}

#tags{
    background-color: #ffcb39;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    list-style: none;
    width: 63px;
    height: 23px;
    line-height: 23px;
    border-radius: 24px;
    justify-content: center;
}

#tags a{
    text-decoration: none;
    color: #1C1C1C;
}
#info{
    color: #fff;
    padding-right: 20px;
    padding-top: 20px;

}

#price, #sold, #view{
    margin: 3em;
}

#price{
    margin-left: 0;
}

#container{
    background-color: #fff6e3;
    width: 40vw;
    height: 70vh;
    border-radius: 20px;
}

.ant-btn-round.ant-btn-lg{
    font-weight:bold;
    background: #b3e220 !important;
    border-radius: 6px;
    margin-right:30px;
    border: none;
    margin-top:30px;
}