@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.component {
    padding-top: 10%;
    margin-left: 50px;
}

.component ul {
    background-color: #ffcb39;
    list-style: none;
    height: 300px;
    text-align:center;
    border-radius: 10px;
    padding-left: 0;
    
}
.component ul li{
    display:inline-block;
    width: 100px;
    color: #fff;
    height: 13%;
    padding: 3%;
    margin-top: 10%;
    margin-bottom: 10%;
    font-family: 'Pretendard';
    font-size: 16px;
}

.component ul li:hover{
    cursor: pointer;
}
/* .component ul span{
    width: 100%;
} */

.component ul li span img{
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    float: right;
    margin-bottom: 0;
    opacity: 0; /*평상시 깃발 숨겨둠*/
}

.component ul li:hover span img{
    opacity: 1;
    transition: 0.3s;
    transform: translate(-5px, -5px);
}

.component ul li a{
    text-decoration: none;
    color: #fff; 
}

.component ul li a:focus{
    color: #1C1C1C;
}

.component ul li:active span img{
    opacity: 1;
}

.component .current{
    color: #1C1C1C !important;
    font-weight: bold;
}

.current img{
    opacity: 1 !important;
    animation: none !important;
}