.mycontents-container{
    max-width: 1092px;
    max-width: 506px;
}

#product-list{
    border: 3px solid #ffcb39;
    width: 1050px;
    height: 506px;
    overflow: auto;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.close{
    display: none;
}

.delete-button{
    width: 112px;
    height: 32px;
    color: #fff;
    background-color: #B3E220;
    font-size: 14px;
    font-weight: 900;
    float:right;
}

.product-title{
    font-weight:700;
    font-size: 16px;
    margin-bottom: 16px;
}

.product-price{
    font-size: 12px;
    font-weight: 400;
}

.product-total-price{
    padding-top: 14px;
    font-size: 16px;
    font-weight:700;
}

.edit-button{
    background-color: transparent;
    width: 112px;
    height: 32px;
    color: #B3E220;
    border: 2px solid #B3E220;
    border-radius: 6px;
    margin-top: 10px;
    float: right;
}

.delete-button:hover{
    color: #fff;
    cursor: pointer;
}

.edit-button:hover{
    color: #B3E220;
    cursor: pointer;
}
.toggle-box td, .product-row td{
    border-bottom: none !important;
}
.product-info{
    background-color: #ffcb39;
    min-height: 32px;
    border-radius: 8px;
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 700;
    max-height: 200px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.product-info:hover{
    cursor: pointer;
}

.block{
    display: block;
    width: 100%;
    height: auto;
    background-color: #ffcb39;
    color: #1C1C1C;
    border-radius: 12px;
    font-weight: 400;
    padding-top: 0px;
    padding-left: 31px;
    margin-bottom: 3px;
}

.mypage-bloc-tabs{
    color: #ffcb39;
    line-height: 50%;
}

.mypage-tabs{
    border: 2px solid #ffcb39;
    border-bottom: 0px;
}